body {
  background: black;
}
h1 {
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-80%, -50%);
}
#vis {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#corrupted {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}
